<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/png" href="~/images/style/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- Default Css -->
    <link href="~/Content/template.min.css" rel="stylesheet" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/lib/datepicker/datepicker.css" rel="stylesheet" />

    <title>Bookingnepal.com</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="">
                <div class="logo"><a href="index.php" title=""><img src="~/images/style/logo.png" width="160" height="40" alt=""></a></div>
                <div class="user">
                    <div class="btn">
                        <figure><img src="~/images/media/user_small.jpg" height="30" width="30" alt="" /></figure>
                        AirLines User <i class="fa fa-angle-down"></i>
                    </div>
                    <ul class="dropdown">
                        <li><a href="#" title="profile.php"><i class="fa fa-user"></i>My Profile</a></li>
                        <li><a href="Javascript:Void(0);" title="Change Password" class="btn_pwd"><i class="fa fa-lock"></i>Change Password</a></li>
                        <li><a href="#" title="Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div>
        @Html.Partial("_SideMenuNav");

        @RenderBody()
    </div>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/datepicker/datepicker.js"></script>
    <script src="~/js/system.js"></script>
    @RenderSection("scripts", required: false)




</body>
</html>
