<div class="sidebar">
    <div class="box balance">
        <a href="#" class="btn_reload"><i class="fa fa-refresh"></i></a>
        <div class="title">Account Balance</div>
        <div class="amt"><span>NPR</span> 15,000/-</div>
    </div>
    <div class="box mainmenu">
        <ul>
            <li><a href="index.php" class="active" title=""><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li><a href="~/Air/DomesticFlight" title=""><i class="fa fa-plane"></i>Domestic Flight</a></li>
            <li><a href="#" title=""><i class="fa fa-plane"></i>International Flight</a></li>
            <li><a href="#" title=""><i class="fa fa-building"></i>Hotels</a></li>
            <li><a href="#" title=""><i class="fa fa-th-large"></i>Adventure Activities</a></li>
            <li><a href="#" title=""><i class="fa fa-th-large"></i>Tour Packages</a></li>
            <li><a href="#" title=""><i class="fa fa-th-large"></i>Trekking Packages</a></li>
        </ul>
    </div>
</div>
